<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/Public/layout.css">
    <title>MyAcu Acupuncturists Community</title>
  </head>
  <body>
    <div class="branding" style="height:10%; width:90%; margin:auto; background-color:white; border: #ffffff; border-bottom: thick #ff0000; border-style: solid; ">
        <img src="/Public/MyAcu.png" style=" top: 1%; left: 10%; height: 73%; width: 25%;">
    </div>
    {{template "navigation"}}

    <div style="display:block; margin:auto; width: 90%;  background-color: #CFB53B; height:100%; padding-bottom:5%;">
      <div class="form-group" style="padding-left:20px;">
        <form class="location" action="/directory/" method="post">
          <label for="location">Search in:</label><input type="text" name="location" value=""><br>
          <input type="submit" name="Search" value="Search">
        </form>
      </div>
      <p style="padding-left:30px; padding-top: 40px;">


        <!-- <iframe  width="780",  height="500",  frameborder="2", style="border:1",  src="https://www.google.com/maps/embed/v1/search?key=AIzaSyBIoz6I_yLl458Lyzzk2nn2zse9MCfyroI&q=acupuncture+in+Chattanooga", allowfullscreen> -->
        <!-- </iframe> -->
      </p>
      <div id="map"></div>

    </div>



  </body>
  <script>
    function initMap() {
      var uluru = {lat: -25.363, lng: 131.044};
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 11,
        center: uluru
      });
      var marker = new google.maps.Marker({
        position: uluru,
        map: map
      });
    }
  </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkzm70gs5HDFmj63c9GXAoPuNDYd-mElg&callback=initMap">
  </script>
</html>
