{{define "map"}}
{{template "table" .}}
  <script>
    function initMap() {
      var location = {lat: {{.Location.Lat}}, lng: {{.Location.Lng}}};
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 11,
        center: location
      });
      var marker = new google.maps.Marker({
        position: location,
        map: map
      });

      var goldStar = {
    path: 'M 125,5 155,90 245,90 175,145 200,230 125,180 50,230 75,145 5,90 95,90 z',
    fillColor: 'green',
    fillOpacity: 0.8,
    scale: 0.1,
    strokeColor: 'gold',
    strokeWeight: 1
  };

      {{range .Results}}
      var result =  {lat: {{.Lat}}, lng:{{.Lng}}};
      var name = {{.Name}};
      var marker2 = new google.maps.Marker({
        position: result,
        map: map,
        title: name,
        icon: goldStar
      });

      {{end}}

    };
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkzm70gs5HDFmj63c9GXAoPuNDYd-mElg&callback=initMap">
    </script>
{{end}}

{{define "table"}}
<div id="third" class="row scrollspy" style="margin-top:20px; margin-bottom:10px;">
  <div class="card light-green darken-2 z-depth-4">
    <div class="card-content white">
      <span class="card-title">Practices</span>
    </div>
    <div class="card-content white"  style="opacity:0.7;">
<div id="table">
  <table class="highlight">
    <thead>
    <tr>
      <th>ID</th><th>Name</th><th>Address</th><th>Distance</th>
    </tr>
    </thead>
    <tbody>
    {{range .Results }}
    <tr>
      <td>{{.OrganizationID}}</td><td>{{.Name}}</td><td>{{.Street}}</td><td>{{.Distance }} Miles</td>
    </tr>
    {{end}}

    </tbody>
  </table>
</div>
</div>
</div>
</div>
{{end}}
