{{define "content"}}
<div class="card hoverable">
  <div class="card-content">


<div id="main" class="row scrollspy" style="margin-top:20px; margin-bottom:10px;">
<div class="form-group" style="padding-left:20px;">
  <form class="location" action="/directory/" method="post">
    <label for="location">Search in:</label><input type="text" name="location" value=""><br>
    <button class="btn waves-effect waves-green"type="submit" name="Search" value="Search"><i class="material-icons white-text">search</i></button>
  </form>
</div>
</div>

</div>
</div>
<div class="card light-green lighten-3">
<div id="second" class="row scrollspy card-content" style="margin-top:20px; margin-bottom:10px;">
<div id="map"  style="height:500px; width: 100%;">
  <div class="valign-wrapper" style="height:90%;width:100%; position:absolute;">
    <div class="valign center" style="width:90%;">
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
{{template "map" .}}
{{end}}
