{{ define "navigation"}}

<ul id="slide-out" class="side-nav fixed light-green" style="padding-top: 20vh;">
  <li class="nav"><a class="navlink" href="/directory/"><i class="material-icons">explore</i>Directory</a></li>
  <li class="nav"><a class="navlink" href="#"><i class="material-icons">library_books</i>Articles</a></li>
  <li class="nav"><a class="navlink" href="/register/"><i class="material-icons">person_add</i>Register</a></li>
  <li class="nav"><a class="navlink" href="/login/"><i class="material-icons">account_circle</i>Login</a></li>
</ul>


{{end}}
